@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Minison';
    src: url('/font/Minison.ttf') format('truetype');
}

@font-face {
  font-family: 'Sequel Sans Black Body';
  src: url('/font/Sequel Sans Black Body.ttf') format('truetype');
}

* {
    font-family: 'Comfortaa', system-ui;
}

.title {
  font-family: 'Minison', system-ui;
}

.title2 {
  font-family: 'Sequel Sans Black Body', system-ui;
}
